<div class="col-8 offset-2">
    {{!-- recipe image and name from database --}}
  <div class="card" id="ingredient">
    <img class="ingredient-image" src=".../100px100" alt="{{ingredient.name}}">
    <div class="card-body">
      <p class="ingredient-text">{{ingredient.name}}</p>
    </div>
  </div>
</div>


