<div id="home">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">
      <h2>Fridge2Table</h2>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="./about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">New Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">My Recipes</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6" id="name">
        <img src="../public/images/1.png" id="logo">
      </div>
      <div class="col-md-6" id="tagline">
        <br>
        <br>
        <br>
        <h1>The Movement that's Changing the Way We Eat</h1>
      </div>
    </div>
  </div>
  <div class="ingredients">
    <div class="container">
      <div class="row">

      </div>
    </div>


  </div>
  <div class="recipes">
    <div class="container">
      <div class="row">
        
      </div>
    </div>

  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
